* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

.main {
   height: 100vh;
   width: 100%;
   background-color: #f7f0e3;
   color: #060504;
}